
.detalji {
	font-size: 20px;
}

.detalji-tekst {
	font-size: 14px;
}

.carousel-control-next {
    filter: invert(100%);
}

.carousel-control-prev {
    filter: invert(100%);
}

.cijena {
	color: red;
	font-weight: bold;
}